In [1]:
from nba_api.stats.static import teams

nba_teams = teams.get_teams()

nuggets = [team for team in nba_teams if team['abbreviation'] == 'DEN'][0]
nuggets_id = nuggets['id']
print(f'nuggets_id: {nuggets_id}')

nuggets_id: 1610612743

In [2]:
from nba_api.stats.endpoints import leaguegamefinder
from nba_api.stats.library.parameters import Season
from nba_api.stats.library.parameters import SeasonType

gamefinder = leaguegamefinder.LeagueGameFinder(team_id_nullable=nuggets_id,
                            season_nullable=Season.default,
                            season_type_nullable=SeasonType.regular)  

games_dict = gamefinder.get_normalized_dict()
games = games_dict['LeagueGameFinderResults']
game = games[0]
game_id = game['GAME_ID']
game_matchup = game['MATCHUP']

print(f'Searching through {len(games)} game(s) for the game_id of {game_id} where {game_matchup}')

Searching through 21 game(s) for the game_id of 0022000341 where DEN @ LAL

In [6]:
from nba_api.stats.endpoints import playbyplay
df = playbyplay.PlayByPlay(game_id).get_data_frames()[0]
df.head(500)

,GAME_ID,EVENTNUM,EVENTMSGTYPE,EVENTMSGACTIONTYPE,PERIOD,WCTIMESTRING,PCTIMESTRING,HOMEDESCRIPTION,NEUTRALDESCRIPTION,VISITORDESCRIPTION,SCORE,SCOREMARGIN
0,0022000341,2,12,0,1,10:21 PM,12:00,None,None,None,None,None
1,0022000341,4,10,0,1,10:21 PM,12:00,Jump Ball Davis vs. Jokic: Tip to Murray,None,None,None,None
2,0022000341,7,1,1,1,10:21 PM,11:45,None,None,Green 27' 3PT Jump Shot (3 PTS) (Murray 1 AST),3 - 0,-3
3,0022000341,9,6,1,1,10:22 PM,11:34,None,None,Barton P.FOUL (P1.T1) (J.DeRosa),None,None
4,0022000341,11,1,80,1,10:22 PM,11:18,Davis 18' Step Back Jump Shot (2 PTS),None,None,3 - 2,-1
...,...,...,...,...,...,...,...,...,...,...,...,...
454,0022000341,670,2,1,4,12:40 AM,0:17,MISS Cook 26' 3PT Jump Shot,None,None,None,None
455,0022000341,671,4,0,4,12:40 AM,0:13,McKinnie REBOUND (Off:1 Def:1),None,None,None,None
456,0022000341,666,2,5,4,12:40 AM,0:10,MISS McKinnie 1' Layup,None,Nnaji BLOCK (1 BLK),None,None
457,0022000341,668,4,0,4,12:40 AM,0:10,LAKERS Rebound,None,None,None,None
458,0022000341,669,13,0,4,12:41 AM,0:00,None,None,None,93 - 114,21

In [15]:
import pandas as pd

In [16]:
teams = ['Los Angeles Lakers', 'Denver Nuggets']
spread = ['-5 (-110)', '+5 (+110)']
moneyline = ['-220', '+185']
over_under = ['Over 219.5 -110', 'Under 219.5 -110']

In [21]:
gambling_df = pd.DataFrame(columns=[teams, spread, moneyline, over_under])
gambling_df

Empty DataFrame
Columns: [(Los Angeles Lakers, -5 (-110), -220, Over 219.5 -110), (Denver Nuggets, +5 (+110), +185, Under 219.5 -110)]
Index: []